$mobile: 800px;
$min-col-width: 320px;

// anything that is completely unaffected by mobile vs. desktop view
body {
    position: fixed;
    height: 100%;
    width: 100%; // causes problems in mobile map view otherwise
}
#tour-wrapper {
    height: 100vh;
    overflow-y: auto;
}
.zoom-btns {
    position: absolute;
    z-index: 700;
    padding: 5px;
    .icon-btn {
        border-radius: 0;
        position: relative;
        height: 30px;
        width: 30px;
        font-size: 18px;
    }
    #zoom-in-btn {
        margin-bottom: 5px;
    }
    button:focus-visible {
        z-index: 2;
    }
}
.legend-wrapper {
    .legend-top {
        display: flex;
        flex-wrap: wrap;
        h2 {
            margin: 0;
            flex-grow: 1;
            border: none;
        }
    }
    fieldset {
        border: none;
    }
    li, label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 5px 0;
        img, svg {
            margin: 10px;
            background-color: #fff;
            flex-shrink: 0;
        }
        img.basemap {
            max-width: 20%;
        }
        img.round {
            border-radius: 50%;
        }
        span {
            padding: 0 10px;
        }
    }
    h3 {
        font-size: 22px;
    }
}
#map {
    height: 100%;
    img {
        box-shadow: none;
    }
    .leaflet-pane {
        .hover-el, .leaflet-tooltip {
            pointer-events: auto;
            cursor: default;
            &.has-popup {
                cursor: pointer;
            }
        }
        .leaflet-marker-icon {
            padding: 3px;
            // padding moves the icon, to move it back:
            top: -5px;
            left: -5px;
            box-sizing: content-box;
            border: 2px solid transparent;
            box-shadow: none;
            max-width: none;
            &.round {
                border-radius: 50%;
            }
            &:hover, &:focus-visible, &.active {
                border: 2px solid #000;
                box-shadow: 0 0 2px 2px #fff inset;
                z-index: 1000 !important; // have to use !important because leaflet modifies the html element's "style" attribute
            }
        }
        .focus-el {
            pointer-events: auto;
            outline: none; // img has outline (well, border, because I can do more with a border) and is the element that needs to show focus, not this one
        }
        // tooltips
        .leaflet-tooltip {
            font-family: Verdana, Helvetica, Arial, sans-serif;
            font-size: 12px;
            margin: 0; // margins that would be added to account for pseudo element cancel out margins that would need to be added to account for padding
            pointer-events: auto;
            // overwrite styles so they can be moved to child element
            background-color: transparent;
            border: none;
            box-shadow: none;
            z-index: 800;
            &::before {
                content: none;
            }
            &.tmp-hide {
                display: none;
            }
            // move styles to child element (and add a couple of my own
            .tooltip {
                padding: 6px;
                background-color: #fff;
                border: 1px solid #fff;
                border-radius: 3px;
                color: #333;
                white-space: nowrap; // causes problems if the text is too long...
                box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
                &::before {
                    position: absolute;
                    border: 6px solid transparent;
                    background: transparent;
                    content: "";
                }
            }
        }
        .leaflet-tooltip-bottom, .leaflet-tooltip-top {
            .tooltip::before {
                // center horizontally
                left: 50%;
                margin-left: -6px;
            }
        }
        .leaflet-tooltip-top .tooltip::before {
            bottom: 0;
            margin-bottom: -6px; // original 12, but padding already provides 6
            border-top-color: #fff;
        }
        .leaflet-tooltip-bottom .tooltip::before {
            top: 0;
            margin-top: -6px; // original 12, but padding already provides 6
            border-bottom-color: #fff;
        }
        .leaflet-tooltip-left, .leaflet-tooltip-right {
            .tooltip::before {
                // center vertically
                top: 50%;
                margin-top: -6px;
            }
        }
        .leaflet-tooltip-left .tooltip::before {
            right: 0;
            margin-right: -6px; // original 12, but padding already provides 6
            border-left-color: #fff;
        }
        .leaflet-tooltip-right .tooltip::before {
            left: 0;
            margin-left: -6px; // original 12, but padding already provides 6
            border-right-color: #fff;
        }
    }
    
    &::after {
        content: "";
        z-index: 650;
        pointer-events: none; // seems to prevent attempting to give map focus when a feature is activated
    }
    &:focus-visible::after {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 2px 2px #000 inset;
        outline: 2px solid #fff;
        outline-offset: -4px; // room for both border and outline
    }
}
.dialog-content {
    padding: 30px;
    padding-top: 20px;
    margin: 0;
}
.dialog-top {
    flex-wrap: nowrap;
    button {
        flex-shrink: 0;
        margin-left: 10px;
    }
}
.auto-prop {
    font-weight: bold;
}
.attribution-section img {
    margin: 5px 0;
}

// mobile
@media(max-width: ($mobile - 1)) {
    .tour-desktop-only {
        display: none;
    }
    #tour-wrapper {
        display: grid;
    }
    header {
        grid-column: 1 / 3;
    }
    #main-nav {
        margin: 20px 20px 0;
        grid-column: 1 / 3;
    }
    #map-nav {
        grid-column: 2;
        z-index: 700;
        margin-right: 20px;
        position: sticky;
        top: 0;
        right: 0;
        .map-only {
            display: none;
        }
        #map-toggle-btn {
            margin: 10px 0;
        }
    }
    main {
        grid-column: 1 / 3;
        padding: 0;
        margin: 0;
    }
    #scrolly {
        padding: 0 20px 20px;
    }
    #map-wrapper {
        display: none;
    }
    .map-active {
        header, #main-nav, #scrolly, footer, #back-to-top {
            display: none;
        }
        #tour-wrapper {
            display: grid;
            grid-template-rows: min-content min-content 1fr;
            grid-template-columns: 1fr min-content;
            height: 100vh;
        }
        #map-nav {
            grid-row: 2;
            grid-column: 2;
            position: initial;
            margin-right: 0;
            display: block;
            .map-only {
                display: initial;
            }
            #mobile-map-toggle-btn {
                display: flex;
                margin: 10px;
                float: right;
                font-size: 26px;
            }
            #map-nav-options {
                display: none;
            }
            &.expanded {
                grid-row: 1;
                grid-column: 1 / 3;
                #map-nav-options {
                    display: flex;
                    flex-direction: column;
                    button {
                        margin: 0;
                    }
                }
            }
        }
        main {
            grid-row: 2 / 4;
            grid-column: 1 / 3;
        }
        #map-wrapper {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    .legend-active {
        #map-nav, #map, .zoom-btns {
            display: none;
        }
        #tour-wrapper {
            display: block;
        }
        .legend-wrapper {
            padding: 15px;
            .legend-top {
                border-bottom: 2px solid;
                h2 {
                    padding-top: 10px;
                }
                #legend-close-btn {
                    margin-right: 5px;
                }
            }
            .legend-basemaps {
                h3 {
                    margin-top: 20px;
                    padding-left: 0;
                    border-left: none;
                }
            }
        }
    }
    .has-dialog {
        #map-nav, #map, .zoom-btns {
            display: none;
        }
    }
    .modal-popup [role="dialog"] {
        overflow-y: auto;
        border: none;
        top: 0;
        left: 0;
        transform: none;
        min-height: 100vh;
        max-height: 100vh;
        width: 100vw;
        .dialog-top {
            position: unset;
            .icon-btn {
                position: fixed;
                margin: 15px;
                top: 0;
                right: 0;
            }
            h2 {
                margin-right: 20px;
            }
        }
        .dialog-content {
            overflow-y: unset;
        }
    }
    footer {
        grid-column: 1 / 3;
    }
}
// desktop
@media(min-width: $mobile) {
    .tour-mobile-only {
        display: none;
    }
    header {
        font-size: 20px;
        padding: 10px;
    }
    #open-settings-btn {
        align-self: start;
        margin: 5px 0;
        font-size: 28px;
        height: 40px;
        width: 40px;
    }
    #main-nav {
        margin: 10px 10px 0;
        padding-right: 5px;
        .toggle-wrapper {
            display: block;
        }
        #main-nav-list {
            border-top: 1px solid;
            padding-top: 0;
        }
        #main-nav-list.collapsed {
            display: none;
        }
    }
    main {
        .bottom-step {
            width: 100%;
            height: 30px;
        }
        #view-content {
            h2 {
                margin-top: 10px;
            }
        }
        z-index: 0;
        .dialog-backdrop {
            z-index: 800;
            margin: 0;
        }
        .desktop-btns {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .go-to-view-btn {
                opacity: 0;
                pointer-events: none;
                transition: none;
                &:focus {
                    opacity: 1;
                    transition: opacity .5s;
                    pointer-events: auto;
                }
            }
        }
    }
    #settings-modal {
        .dialog-content {
            padding-top: 0;
            margin: 10px 30px;
            .option {
                margin: 30px 10px;
                label {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    cursor: pointer;
                    .label {
                        padding: 0;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    #scrolly {
        padding: 20px;
    }
    #skip-map-link {
        position: absolute;
        top: -70px;
        transition: top .5s ease;
        left: 20px;
        z-index: 900;
        &:focus {
            top: 20px;
        }
    }
    #tour-wrapper {
        min-width: 320px;
    }
    #map-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: calc(100% - 320px);
    }
    .legend-wrapper {
        z-index: 700;
        position: absolute;
        box-sizing: border-box;
        margin: 10px;
        margin-right: clamp(10px, 2.5%, 30px);
        margin-top: clamp(10px, 2.5%, 30px);
        top: 0;
        right: 0;
        width: calc(50% - 30px);
        max-width: 400px;
        min-width: 300px;
        padding: 10px 0;
        background-color: white;
        border: 2px solid black;
        color: #333;
        border-radius: 10px;
        .legend {
            overflow-y: auto;
            max-height: calc(100vh - 70px);
            padding: 5px 15px;
        }
        .legend-top {
            align-items: center;
            border-bottom: 1px solid; // maybe
            padding-bottom: 15px;
            h2 {
                padding: 0;
                font-size: 24px;
            }
            #legend-toggle-btn {
                border-radius: 5px;
                transform: translateY(-3px);
                .fa-plus {
                    display: none;
                }
            }
        }
        &.minimized {
            width: 200px;
            width: clamp(180px, 30%, 400px);
            .legend {
                padding: 2px 15px;
            }
            .legend-top {
                padding: 0;
                border: none;
                #legend-toggle-btn {
                    // margin-right: 0;
                    transform: none;
                    .fa-minus {
                        display: none;
                    }
                    .fa-plus {
                        display: inline-block;
                    }
                }
            }
            .legend-basemaps, #legend-data-list {
                display: none;
            }
        }
        &.dark { // only necessary for desktop - mobile will automatically match theme
            background-color: #333;
            color: #fff;
        }
        .legend-basemaps {
            h3 {
                margin: 0;
                border: none;
            }
            #legend-basemaps-toggle {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                font: inherit;
                span {
                    padding-right: 10px;
                    padding-left: 5px;
                }
            }
            li {
                padding: 0;
            }
            #legend-basemaps-list {
                display: none;
            }
            &.expanded {
                .maps-heading {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                }
                #legend-basemaps-list {
                    display: block;
                }
            }
        }
    }
    #back-to-view-btn {
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 700;
        pointer-events: none;
        bottom: 10px;
        right: 20px;
        transition: none;
        &.active {
            display: inline-block;
        }
        &:focus {
            opacity: 1;
            transition: opacity .5s;
            pointer-events: all;
        }
    }
    footer {
        padding: 10px 30px;
    }
    #back-to-top {
        position: sticky;
        float: right;
        right: 20px;
    }
    .map-on-left {
        #tour-wrapper {
            position: absolute;
            right: 0;
        }
        #map-wrapper {
            right: unset;
            left: 0;
        }
    }
}