/* Notes from tmp.css

A couple of header logo styles - probably mostly a note that I need to work on the header:
header .logo {
    max-width: 100%;
}
header .logo a {
    padding: 0;
}
*/

$link-blue: #004fa3;
$main-light: #fff;
$main-dark: #333;
$theme-color-1: #070f4e;
$accent-color-1: #fff;
// TODO: temp name here:
$nav-border: darkgray;

$tablet: 600px;

/* Temporary: Move these to theme.css */
.skip-link:visited {
    color: $link-blue;
    // TODO: check hover and focus, too
}
.btn-disabled:hover {
    box-shadow: none;
    pointer-events: none;
    cursor: default;
}
// possible nav menu modification
.main-nav {
    .nav-item {
        border: none; // basically remove border
        margin: 5px 0;
    }
    li {
        border-bottom: 1px solid;
        border-color: darkgray;
        &:last-child {
            border-bottom-style: none;
            &.expanded {
                & > .nav-item {
                    border: none; // basically remove border-bottom-style
                }
            }
        }
    }
}
// back to top button opacity transition
#back-to-top {
    display: flex; // can move from .active
    opacity: 0;
    transition: opacity linear .5s;
    pointer-events: none;
    &.active, &:focus {
        opacity: 1;
        pointer-events: auto;
    }
}
header a:hover:not(:focus) {
    outline: 1px solid;
}
// TODO: icon button on focus - not darker inside
/* end temporary */

@mixin font-size($val) {
    font-size: 1px * $val;
    font-size: .1rem * $val;
}
@mixin flex() {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@mixin double-outline() {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    content: '';
    pointer-events: none;
    box-shadow:
        0 0 0 1px white,
        0 0 0 2px blue;
}
@mixin focus-outline() {
    &:focus::before {
        @include double-outline();
    }
}
@mixin hover-outline() {
    &:hover::before, &:focus::before {
        @include double-outline();
    }
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    // TODO: Display logo or not display logo? (and how to deal with logo replacing site title)
    #header-wrapper {
        overflow: hidden; // TODO: Is this okay/good?
    }
    #open-settings-btn {
        margin: 10px;
        height: 32px;
        width: 32px;
    }
    .main-nav {
        width: 100%;
        padding: 5px;
        #toggle-nav-btn {
            margin: 0;
            @include font-size(18);
            &.expanded {
                border-bottom: 1px solid $nav-border;
            }
        }
        .nav-item {
            @include font-size(16);
            line-height: 1.8;
        }
        ul ul .nav-item {
            @include font-size(14);
        }
    }
    // phone styles
    @media (max-width: $tablet - 1) {
        #header-wrapper {
            height: 100px;
            width: 100%;
            @include font-size(20);
            .text {
                padding: 0;
                flex-grow: 1;
                text-align: center;
                height: inherit;
                a, span {
                    display: block;
                    height: inherit;
                }
            }
        }
        .mobile-row {
            display: flex;
            width: 100%;
            height: 50px;
            justify-content: space-between;
            align-items: center;
        }
        #header-toggle {
            margin: 10px 5px;
        }
        #toggle-list {
            // TODO: make buttons take less height?
            // decrease margins/etc at very low screen size (<350 etc.)
            flex-grow: 1;
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    margin-bottom: 0;
                    width: 30%;
                    button {
                        margin: 5px 0;
                        width: 100%;
                        padding: 10px;
                        border-color: $theme-color-1;
                        background-color: $accent-color-1;
                        color: $theme-color-1;
                        &:hover, &:focus {
                            background-color: $theme-color-1;
                            color: $accent-color-1;
                            //border-color: #e2e2e2;
                        }
                        &.btn-disabled {
                            background-color: #e2e2e2 !important;
                            color: #333 !important;
                            &:focus {
                                box-shadow: none;
                                //outline: 2px dashed black;
                                //outline-offset: -5px;
                            }
                            //&:hover {
                                //border-color: $theme-color-1;
                            //}
                        }
                    }
                }
            }
        }
    }
    // tablet/desktop styles
    @media (min-width: $tablet) {
        width: 33%; // column size
        @include font-size(22);
        transition: font-size .2s, line-height .2s;
        &.scrolled {
            line-height: 1.7;
            @include font-size(17);
            nav {
                padding: 0 5px;
                #toggle-nav-btn {
                    @include font-size(16);
                    &.expanded {
                        @include font-size(18);
                    }
                    // TODO: Is it weird to have the nav font switch back and forth?
                }
            }
        }
        #header-wrapper {
            width: 100%;
            .text {
                margin-right: 35px;
                padding: 1rem 5%;
            }
        }
        #open-settings-btn {
            position: absolute;
            margin: 5px;
            top: 0;
            right: 0;
        }
    }
}

/* Content */
main {
    padding: 0;
    margin: 0 !important;
    z-index: 0;
    @media (min-width: $tablet) {
        width: 33%; // column size
    }
}
#scrolly {
    padding: 1rem 5%;
    .scroll-top {
        margin-bottom: 1.5rem;
    }
    .step {
        padding: 1rem 0;
    }
    @media (max-width: $tablet - 1) {
        display: none;
    }
    @media (min-width: $tablet) {
        #back-to-top {
            right: calc(67% + 1rem); // column size
        }
    }
}

/* Map */

#map-wrapper {
    .legend {
        z-index: 700;
        position: relative;
        top: 15px;
        left: calc(50% - 9px);
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid black;
        width: calc(50% - 30px);
        max-width: 500px;
        .legend-top {
            @include flex();
            justify-content: space-between;
            padding-bottom: 15px;
        }
        h2 {
            @include font-size(22);
            border: none;
            margin: 0;
            padding: 0 5px;
        }
        #legend-toggle-btn {
            border-radius: 5px;
            .fa-plus {
                display: none;
            }
        }
        label {
            @include flex();
            cursor: pointer;
            img {
                margin: 10px;
            }
        }
        // TODO: some kind of transition?
        // TODO: Which side should the plus go on?
        // TODO: Should legend be on the same level as the show menu button (mobile, menu hidden)?
        &.minimized {
            padding: 5px 0;
            width: 120px;
            border: none;
            left: calc(100% - 125px);
            .legend-top {
                padding: 0;
            }
            h2 {
                font-weight: normal;
                @include font-size(19);
            }
            #legend-toggle-btn .fa-plus {
                display: inline-block;
            }
            ul, .fa-minus {
                display: none;
            }
        }
    }
    #map {
        position: fixed;
        top: auto;
        bottom: 0;
        padding: 0;
        &:focus::before {
            position: absolute;
            height: calc(100% - 8px);
            width: calc(100% - 8px);
            top: 4px;
            right: 4px;
            content: '';
            z-index: 700;
            pointer-events: none;
            box-shadow:
                0 0 0 2px white,
                0 0 0 4px blue;
        }
        img {
            margin: 0;
        }
        // map controls
        .leaflet-control-zoom {
            a {
                outline-offset: 0;
                user-select: none;
                width: 3rem;
                height: 3rem;
                color: #333;
                @include font-size(22);
                &:focus {
                    outline: revert !important;
                }
                &:hover {
                    outline: 1px solid #333;
                    background-color: #e1e1e1;
                }
                &.leaflet-control-zoom-in:hover {
                    border-bottom: none;
                }
                &.leaflet-control-zoom-out {
                    border-top: 1px solid #ccc;
                    &:hover {
                        border-top: none;
                    }
                }
            }
            .leaflet-disabled {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 10 10'> <path d='M10 0 L0 10' fill='none' stroke='%23444444' stroke-width='.5' /></svg>");
                color: #444;
                &:hover {
                    outline: none;
                    border-top: 1px solid #ccc;
                    background-color: #f4f4f4;
                }
            }
        }
        // markers
        .leaflet-interactive {
            padding: 4px;
            top: -4px;
            left: -4px;
            border-radius: 5px;
            &:focus, &:hover {
                box-shadow: inset 0 0 0 1px black, inset 0 0 0 2px white, inset 0 0 0 10px black;
                outline: revert !important;
            }
            &.no-popup {
                cursor: default;
                cursor: not-allowed;
            }
        }
        // tooltips
        .leaflet-tooltip {
            //text-shadow:
            //    -1px 0 #000,
            //    0 1px #000,
            //    1px 0 #000,
            //    0 -1px #000;
            //color: #fff;
            color: #333;
            font-family: Verdana, Helvetica, Arial, sans-serif;
            @include font-size(13.5);
            &.active {
                box-shadow: 0 0 2px 2px #333, 0 0 2px 3px #fff;
                //font-weight: bold;
                //@include font-size(14);
                // https://www.w3schools.com/css/css3_shadows.asp */
                //text-shadow:
                //    -2px 0 #000,
                //    0 2px #000,
                //    2px 0 #000,
                //    0 -2px #000,
                //    0 0 8px white;
                opacity: 1 !important;
                //background-color: #777;
                //background-color: rgba(0,0,0,.5);
                //border-radius: 1rem;
                z-index: 700;
            }
        }
    }
    // phone
    @media (max-width: $tablet - 1) {
        display: none;
        #skip-map-link {
            display: none;
        }
        .legend {
            &.minimized {
                h2 {
                    margin-left: 7px;
                }
                #legend-toggle-btn {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: transparent;
                    justify-content: flex-end;
                    .fa-plus {
                        margin-right: 15px;
                    }
                }
                &:hover {
                    background-color: #d9d9d9;
                }
            }
        }
        #map {
            height: calc(100% - 100px);
            left: 0;
            width: 100%;
            // TODO: change height when header changes height
        }
    }
    // desktop
    @media (min-width: $tablet) {
        #skip-map-link {
            position: fixed;
            left: calc(33% + 1rem); // column size
        }
        .legend {
            position: fixed;
            width: 30%;
            right: 15px;
            left: auto;
            &.minimized {
                width: 150px;
                left: calc(100% - 170px);
                #legend-toggle-btn {
                    margin-right: 10px;
                }
            }
        }
        #map {
            left: 33%; // column size
            width: 67%; // column size
            height: 100%;
        }
    }
}

/* Popups */

#popup-list-wrapper {
    .popup {
        display: none;
        &.active {
            display: block;
        }
    }
    // phone
    @media (max-width: $tablet - 1) {
        display: none;
        padding: 1px 1rem;
        &.show-all {
            .popup {
                display: block;
            }
            .popup-back-btn {
                display: none;
            }
        }
    }
    // tablet/desktop
    @media (min-width: $tablet) {
        .popup {
            width: 30%;
            max-height: 30%;
            background: white;
            position: fixed;
            bottom: 10px;
            right: 10px;
            padding: 5px;
            padding-bottom: 10px;
            min-height: 200px;
            border-radius: 5px;
            border: 2px solid black;
            overflow-x: scroll;
            top: 65%;
            .popup-top {
                @include flex();
                justify-content: space-between;
                align-items: flex-start;
            }
            h3 {
                margin: 1.5rem 0;
                flex-grow: 1;
            }
            .popup-close-btn {
                margin: 1rem;
                height: 3rem;
                width: 3rem;
                @include font-size(18);
            }
            .popup-content {
                margin: 1rem;
            }
        }
        .popup-back-btn {
            opacity: 0;
            pointer-events: none;
            transition: opacity .5s linear;
            &:focus {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

/* Footer */
footer {
    padding: 1rem 0 3rem 0;
    &>div {
        padding: 1rem 5%;
    }
    // desktop
    @media (min-width: $tablet) {
        width: 33%; // column size
    }
}
#attribution-section {
    text-align: left;
    .attribution-list {
        text-align: center;
        margin-top: .5rem;
        li {
            display: inline-block;
            &:last-child .fa-circle {
                display: none;
            }
        }
        .attribution {
            text-decoration: none;
            background-color: #ddd;
            border-radius: 2rem;
            padding: .2rem .9rem;
            border: 2px solid transparent;
            color: #000;
            white-space: nowrap;
        }
        a.attribution:hover, a.attribution:focus {
            text-decoration: underline;
            border-color: #000;
        }
        .fa-circle {
            @include font-size(8);
            padding: 0 .5rem;
        }
    }
}

/* Other mobile vs. desktop */
@media(max-width: $tablet - 1) {
    .menu-hidden-mobile {
        header {
            float: right;
            background-color: transparent;
        }
        #header-options-wrapper, nav, .text, .logo {
            display: none;
        }
        #header-wrapper {
            height: auto;
        }
        #map-wrapper {
            .legend {
                top: 52px;
            }
            #map {
                height: 100%;
            }
        }
    }
    .scrolly-active #scrolly {
        display: block;
    }
    .map-active {
        nav, footer {
            display: none;
        }
        #map-wrapper {
            display: block;
        }
    }
    .popups-active #popup-list-wrapper {
        display: block;
    }
}
@media (min-width: $tablet) {
    .wide-column {
        header, main, footer {
            width: 40%;
        }
        #scrolly #back-to-top {
            right: calc(60% + 1rem);
        }
        #map-wrapper {
            #skip-map-link {
                left: calc(40% + 1rem);
            }
            #map {
                left: 40%;
                width: 60%;
            }
        }
    }
}