body {
  overflow-y: hidden;
}

#tour-wrapper {
  height: 100vh;
  overflow-y: auto;
}

.zoom-btns {
  position: absolute;
  z-index: 700;
  padding: 5px;
}
.zoom-btns .icon-btn {
  border-radius: 0;
  position: relative;
}
.zoom-btns #zoom-out-btn {
  border-bottom-width: 1px;
}
.zoom-btns #zoom-in-btn {
  border-top-width: 1px;
}
.zoom-btns button:focus-visible {
  z-index: 2;
}

.legend-wrapper .legend-top {
  display: flex;
  flex-wrap: wrap;
}
.legend-wrapper .legend-top h2 {
  margin: 0;
  flex-grow: 1;
  border: none;
}
.legend-wrapper fieldset {
  border: none;
}
.legend-wrapper li, .legend-wrapper label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 0;
}
.legend-wrapper li img, .legend-wrapper li svg, .legend-wrapper label img, .legend-wrapper label svg {
  margin: 10px;
}
.legend-wrapper li img.basemap, .legend-wrapper label img.basemap {
  max-width: 20%;
}
.legend-wrapper li span, .legend-wrapper label span {
  padding: 0 10px;
}
.legend-wrapper h3 {
  font-size: 22px;
}

#map {
  height: 100%;
}
#map img {
  box-shadow: none;
}
#map .leaflet-marker-icon {
  padding: 3px;
  top: -5px;
  left: -5px;
  box-sizing: content-box;
  border: 2px solid transparent;
  border-radius: 50%;
  box-shadow: none;
}
#map .leaflet-marker-icon:hover, #map .leaflet-marker-icon:focus-visible {
  border: 2px solid #000;
  box-shadow: 0 0 2px 2px #fff inset;
  z-index: 1000 !important;
}
#map .no-popup {
  cursor: default;
  cursor: not-allowed;
}
#map .leaflet-tooltip {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#map::after {
  content: "";
  z-index: 650;
  pointer-events: none;
}
#map:focus-visible::after {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 2px 2px #000 inset;
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.dialog-content {
  padding: 30px;
  padding-top: 20px;
  margin: 0;
}

@media (max-width: 799px) {
  .tour-desktop-only {
    display: none;
  }

  #main-nav {
    margin: 20px 20px 0;
  }

  #map-nav {
    z-index: 700;
    margin-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    top: 0;
    right: 0;
  }
  #map-nav .map-only {
    display: none;
  }
  #map-nav #map-toggle-btn {
    margin: 10px 0;
  }

  main {
    padding: 0;
    margin: 0;
  }

  #scrolly {
    padding: 0 20px 20px;
  }

  #map-wrapper {
    display: none;
  }

  .map-active header, .map-active #main-nav, .map-active #scrolly, .map-active footer, .map-active #back-to-top {
    display: none;
  }
  .map-active #tour-wrapper {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-template-columns: 1fr min-content;
    height: 100vh;
  }
  .map-active #map-nav {
    grid-row: 2;
    grid-column: 2;
    position: initial;
    margin-right: 0;
    display: block;
  }
  .map-active #map-nav .map-only {
    display: initial;
  }
  .map-active #map-nav #mobile-map-toggle-btn {
    margin: 10px;
    float: right;
  }
  .map-active #map-nav #map-nav-options {
    display: none;
  }
  .map-active #map-nav.expanded {
    grid-row: 1;
    grid-column: 1/3;
  }
  .map-active #map-nav.expanded #map-nav-options {
    display: flex;
    flex-direction: column;
  }
  .map-active #map-nav.expanded #map-nav-options button {
    margin: 0;
  }
  .map-active main {
    grid-row: 2/4;
    grid-column: 1/3;
  }
  .map-active #map-wrapper {
    display: block;
    height: 100%;
    width: 100%;
  }

  .legend-active #map-nav, .legend-active #map, .legend-active .zoom-btns {
    display: none;
  }
  .legend-active #tour-wrapper {
    display: block;
  }
  .legend-active .legend-wrapper {
    padding: 15px;
  }
  .legend-active .legend-wrapper .legend-top {
    border-bottom: 2px solid;
  }
  .legend-active .legend-wrapper .legend-top h2 {
    padding-top: 10px;
  }
  .legend-active .legend-wrapper .legend-top #legend-close-btn {
    margin-right: 5px;
  }
  .legend-active .legend-wrapper .legend-basemaps h3 {
    margin-top: 20px;
    padding-left: 0;
    border-left: none;
  }

  .has-dialog #map-nav {
    display: none;
  }

  .modal-popup [role=dialog] {
    overflow-y: auto;
    border: none;
    top: 0;
    left: 0;
    transform: none;
    min-height: 100vh;
    max-height: 100vh;
    width: 100vw;
  }
  .modal-popup [role=dialog] .dialog-top {
    position: unset;
  }
  .modal-popup [role=dialog] .dialog-top .icon-btn {
    position: fixed;
    margin: 15px;
    top: 0;
    right: 0;
  }
  .modal-popup [role=dialog] .dialog-content {
    overflow-y: unset;
  }
}
@media (min-width: 800px) {
  .tour-mobile-only {
    display: none;
  }

  header {
    font-size: 20px;
    padding: 10px;
  }

  #open-settings-btn {
    align-self: start;
    margin: 5px 0;
  }

  #main-nav {
    margin: 10px 10px 0;
    padding-right: 5px;
  }
  #main-nav .toggle-wrapper {
    display: block;
  }
  #main-nav #main-nav-list.collapsed {
    display: none;
  }

  main {
    z-index: 0;
  }
  main .bottom-step {
    width: 100%;
    height: 30px;
  }
  main #view-content h2 {
    margin-top: 10px;
  }
  main .dialog-backdrop {
    z-index: 800;
    margin: 0;
  }
  main .desktop-btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  main .desktop-btns .go-to-view-btn {
    opacity: 0;
    pointer-events: none;
    transition: none;
  }
  main .desktop-btns .go-to-view-btn:focus {
    opacity: 1;
    transition: opacity 0.5s;
  }

  #settings-modal .dialog-content {
    padding-top: 0;
    margin: 10px 30px;
  }
  #settings-modal .dialog-content .option {
    margin: 30px 10px;
  }
  #settings-modal .dialog-content .option label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
  #settings-modal .dialog-content .option label .label {
    padding: 0;
    margin-left: 10px;
  }

  #scrolly {
    padding: 20px;
  }

  #skip-map-link {
    position: absolute;
    top: -70px;
    transition: top 0.5s ease;
    left: 20px;
    z-index: 900;
  }
  #skip-map-link:focus {
    top: 20px;
  }

  #map-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
  }

  .legend-wrapper {
    z-index: 700;
    position: absolute;
    box-sizing: border-box;
    margin: 10px;
    margin-right: clamp(10px, 2.5%, 30px);
    margin-top: clamp(10px, 2.5%, 30px);
    top: 0;
    right: 0;
    width: calc(50% - 30px);
    max-width: 400px;
    min-width: 300px;
    padding: 10px 0;
    background-color: white;
    border: 2px solid black;
    color: #333;
    border-radius: 10px;
  }
  .legend-wrapper .legend {
    overflow-y: auto;
    max-height: calc(100vh - 70px);
    padding: 5px 15px;
  }
  .legend-wrapper .legend-top {
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 15px;
  }
  .legend-wrapper .legend-top h2 {
    padding: 0;
    font-size: 24px;
  }
  .legend-wrapper .legend-top #legend-toggle-btn {
    border-radius: 5px;
    transform: translateY(-3px);
  }
  .legend-wrapper .legend-top #legend-toggle-btn .fa-plus {
    display: none;
  }
  .legend-wrapper.minimized {
    width: 200px;
    width: clamp(180px, 30%, 400px);
  }
  .legend-wrapper.minimized .legend {
    padding: 2px 15px;
  }
  .legend-wrapper.minimized .legend-top {
    padding: 0;
    border: none;
  }
  .legend-wrapper.minimized .legend-top #legend-toggle-btn {
    transform: none;
  }
  .legend-wrapper.minimized .legend-top #legend-toggle-btn .fa-minus {
    display: none;
  }
  .legend-wrapper.minimized .legend-top #legend-toggle-btn .fa-plus {
    display: inline-block;
  }
  .legend-wrapper.minimized .legend-basemaps, .legend-wrapper.minimized #legend-data-list {
    display: none;
  }
  .legend-wrapper.dark {
    background-color: #333;
    color: #fff;
  }
  .legend-wrapper .legend-basemaps h3 {
    margin: 0;
    border: none;
  }
  .legend-wrapper .legend-basemaps #legend-basemaps-toggle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font: inherit;
  }
  .legend-wrapper .legend-basemaps #legend-basemaps-toggle span {
    padding-right: 10px;
    padding-left: 5px;
  }
  .legend-wrapper .legend-basemaps li {
    padding: 0;
  }
  .legend-wrapper .legend-basemaps #legend-basemaps-list {
    display: none;
  }
  .legend-wrapper .legend-basemaps.expanded .maps-heading {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .legend-wrapper .legend-basemaps.expanded #legend-basemaps-list {
    display: block;
  }

  #back-to-view-btn {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 700;
    pointer-events: none;
    bottom: 10px;
    right: 20px;
    transition: none;
  }
  #back-to-view-btn.active {
    display: inline-block;
  }
  #back-to-view-btn:focus {
    opacity: 1;
    transition: opacity 0.5s;
    pointer-events: all;
  }

  footer {
    padding: 10px 30px;
  }

  #back-to-top {
    position: sticky;
    float: right;
    right: 20px;
  }

  .map-on-left #tour-wrapper {
    position: absolute;
    right: 0;
  }
  .map-on-left #map-wrapper {
    right: unset;
    left: 0;
  }
}

/*# sourceMappingURL=tour.css.map */
