{% extends 'partials/base.html.twig' %}
{# This should never be used - template is only provided because having access to the blueprint (from the admin panel) is so important. #}
{% block main %}
<h1>{{ page.title }}</h1>
<div>Sorry, this page is not available.</div>
{% endblock main %}